table,
td {
  margin: 50px 115px 50px 115px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  max-width: 1200px;
  border: 2px solid #333;
  height: 40px;
  font-size: 30px;
}

.table {
  max-width: 1200px;
  min-width: 300px;
  max-height: 70px;
}

.trTemp {
  max-width: 400px;
  min-width: 300px;
  max-height: 70px;
}

.trHum {
  max-width: 400px;
  min-width: 300px;
  max-height: 70px;
}

.trWind {
  max-width: 400px;
  min-width: 300px;
  max-height: 70px;
}
